div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}

.product-card {
    box-shadow:  0 10px 11px rgb(0, 0, 0);
}

img {
  width: 100%;
}