/* vues plus grandes/plus larges **************************/

@media screen and (min-width: 640px) {

    .menu {
		display: flex;
        justify-content: space-around;
	}
	.menu  li {
		display: flex; /* change state in small view */
	}
	#menu {
		display: none;
	}

    h1 {
        font-size: 9rem;
    }

    header img {
        width: 8%;
        top: 30px;
        left: 25px;
    }

    .temple {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

.carde img {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

    .menu button {
        padding: 1.3rem 4rem;
        font-size: 1rem;
    }

    footer img {
        width: 2%;
    }
}


/* Tablet */
@media screen and (min-width: 768px) {
    header img {
        width: 10%;
        top: 1px;
        left: 150px;
    }

    h1 {
        font-size: 3rem;
    }
    .temple {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 80%;
        margin: 0 auto;
    }

    .carde img {
        width: 85%;
        margin: 0 auto;
        height: auto;
    }

    
.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 5px;
    width: 92%;
}
}

/* Laptop */
@media screen and (min-width: 1024px){

    .content {
    margin: 0 auto;
    width: 100%;
    }
    .profil {
        width: 7%;
        left: 30rem;
        top: 2px;
    }

    .grid {
        display: grid;
        gap: 5px;
        grid-template-columns: 2fr 1fr;
        margin: 0 auto;
        padding: 5px;
        width: 92%;
    }
    .carde img {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .filterButton button {
        padding: 1rem 5rem;
        font-size: 1.2rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 1rem;
        padding: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }
    .header img {
        width: 8%;
        top: 1px;
        left: 19rem;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}